body h1, 
body h2, 
body h3, 
body h4{
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
}

body p, 
body button{
    font-family: 'Open Sans', sans-serif;
}

nav.navbar{
    background-color: #ffdab9;
    opacity: 0.9;
    position: sticky;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 100;
}

.beer-bottle{
    height: 300px;
    position:relative;
    margin-bottom: 3%;
}

.beer-text{
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: -1; 
    opacity: 0;
    transition: opacity 1s; 
}
h1.main-heading{
    padding:20px;

}
h2.sub-heading{
    color: #4d2600;
    padding-bottom: 30px;
}
p.generic-image-text{
    font-size: 0.7em;
    padding-top: 10px;
}
.beer-text h4, .modal-header h4{
    font-size: 2.0em 
}

img {
    opacity: 1;
    transition: opacity 1s; 
}

img.generic-image{
    width: 90%;
    margin-top:50%;
}

button.storeList{
    background-color: #a2b6c4
}

.fadeIn{
    opacity: 1;
    z-index: 10; 
}

.fadeOut{
    opacity: 0.2 ; 
}


#map {
    height: 400px;
    width: 100%;
}

  